#pics {
    background-color: white;
}


#nameTitle {
    color:white;
    width: 400px;
    text-align: center;
    background-color: #00274c;
}

#office {
    color:#00274c;
    width: 700px;
    text-align: center;
    background-color:white;
}

#emailCol {
    color:white;
    width: 700px;
    text-align: center;
    background-color: #00274c;
}
