.jHome {
    background-image: url("../src/images/Home1.jpg");
    background-size: cover;
    background-position: center;
    height: 475px;
}

.h1Home {
  color: #00274c;
  font-size: 45px;
  font-weight: 600;
}

.h2Home {
  color: #3b84dc;
}

.h3Home {
  color: #797d78;
}

.h4Home {
  color: #797d78;
  font-size: 30px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pHome {
  color: black;
}

/* CARD SECTION */
.CTH {
  color:#00274c;
  font-size: 25px;
  font-weight: 700;
}


/* COVID SECTION */
.covidDiv {
  background-color: #ececec;
}

.imgCovid {
  background-image: url("../src/images/covid.jpg");
  background-size: cover;
  background-position: center;
  height: 380px;
  margin: 10px;
}

.covidText {
  padding-top: 40px;
}

/* SPOTLIGHT SECTION: Black History Month */
.spotlightDiv {
  background-color: #000942;
}

.imgSpotlight {
  background-image: url("../src/images/spotlight.jpg");
  background-size: cover;
  background-position: center;
  height: 380px;
  margin: 1px;
}

.h2HomeSpotlight {
  color: #ecb730;
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.73);
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.h3HomeSpotlight {
  color: white;
  text-align: center;
}

.pHomeSpotlight {
  color: white;
  text-align: justify;
}

.pHomeHolisitic {
  text-align: justify;
}

.holisticImg {
  background-image: url("../src/images/holistic.jpg");
  height: 200px;
  width: 400px;
  background-size: 100% auto;
}

.pHomeCollab {
  text-align: justify;
}

.collabImg {
    background-image: url("../src/images/collab.jpg");
  height: 200px;
  width: 400px;
  background-size: 100% auto;
}

#pCollab {
  margin-right: 140px;
}

.pHomeInst {
  text-align: justify;
}

.facInstImg {
  background-image: url("../src/images/fac_inst.jpg");
  height: 200px;
  width: 400px;
  background-size: 100% auto;
  background-position: 50% 33%;
}